@using Umbraco.Cms.Web.Common.PublishedModels;

@* The below statement should work in a .NET 8 and Umbraco 13 environment *@
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ErrorPage>

@* The below statement is needed for .NET 10 + Umbraco 17 *@
@*@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage*@  

@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}


<!-- Jumbotron, w title -->
    <div class="jumbotron text-center jumbotron-fluid">
            <div class="container">
                <h1 class="display-1">@Model.Value("pageTitle")</h1>
            </div>
        </div>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">

        @Model.Value("bodyText")
    </div>
</section>