@using Umbraco.Cms.Web.Common.PublishedModels;

@* The below statement should work in a .NET 8 and Umbraco 13 environment *@
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>

@* The below statement is needed for .NET 10 + Umbraco 17 *@
@*@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage*@

@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}
		
		<!-- Jumbotron, w title -->
		<div class="jumbotron text-center jumbotron-fluid">
			<div class="container">
				<h1 class="display-1">@Model.Value("pageTitle")</h1>
				<p>And this is <span class="font-weight-bold">only</span> the beginning...</p>
			</div>
		</div>

		<!-- This is where we're going to render our content -->
		
		<div class="container">

			<div class="row section">
				<div class="col-md-12">

				@Model.Value("bodyText")

				</div>				
			</div>

		</div>